<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <title>Link Two Page</title>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <div class="page">
    <header>
      <h3><a href="/">YANG&copy;</a></h3>
    <nav>
      <ul>
        <li><a href="/one">First Link</a></li>
        <li><a href="/two">Second Link</a></li>
        <li><a href="/three">Third Link</a></li>
      </ul>
    </nav>
    </header>
    <div><h3>greetings from link 2</h3></div>
</body>
</html>
